// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
    font-family: 'codebold';
    src: font-url('codebold.ttf');
}
@font-face {
    font-family: 'Delivery';
    src: font-url('Delivery.ttf');
}
@font-face {
    font-family: 'Heaters';
    src: font-url('Heaters.ttf');
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.loading {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in;
}

.loading.show {
    opacity: 1;
}

.ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
    animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.banner {
    background-color: #ff4d00;
}

.banner-header {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.container-img {
    width: 50%;
}

.container-img img {
    max-width: 50%;
    float: right;
    margin-right: 8rem;
    opacity: 0.8;
}

.contanier-header-text {
    width: 50%;
}

.heading {
    font-family: 'codebold';
    width: 65%;
    color: rgb(241, 241, 241);
    font-size: 34px;
}

.heading2 {
    font-family: 'Heaters';
    font-size: 6rem;
    margin-top: -30px;
    color: #278a8c;
}

.sub-heading {
    font-family: 'Delivery';
    color: whitesmoke;
    width: 60%;
    font-size: 20px;
}

.btn-design {
    position: absolute;
    transform: translate(10rem, 12rem);
    width: 11%;
    height: 3rem;
    background: transparent;
    outline: solid 2px white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-family: 'codebold';
    font-size: 27px;
}

.logo {
    width: 6rem;
}

.icons {
    width: 3rem;
}

.shc-svg {
    width: 100%;
    background-image: url(/src/assets/img/Carrito.svg);
    background-size: cover;
    height: 0;
    padding: 0;
    /* reset */
}

figure>div {
    margin: 1em auto;
}

#navbar-placeholder {
    background-color: #ff4d00;
    height: 0;
}

.filters-container {
    background-color: white;
    border-radius: 50px;
    width: 60%;
    height: 4rem;
    margin: 0 auto 2rem auto;
}

.filters-container>select {
    width: 20%;
    margin-top: 1.2rem;
}

.index-body {
    background-color: #dedede;
}

.link {
    text-decoration: none;
}

.col-md-4 {
    width: 25%;
}

.title-space {
    color: white;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
}

.title-space:nth-child(even) {
    background-color: #ff4d00;
}
.title-space:nth-child(odd){
    background-color: #278a8c;
}


.btn-sh-cart {
    color: white;
    border: solid 1px white;
    background-color: transparent;
    float: right;
    font-size: 16px;
    width: 28%;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin: 0.4rem;
}

.name-product {
    font-weight: bold;
    margin: 0.5rem;
    width: 60%;
}

.card-text {
    color: rgb(180, 180, 180);
}


.flex-row-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.flex-column-div{
    display: flex;
    flex-direction: column;
}

.product-container{
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 1px 1px 3px gray;
    margin: 1rem auto;
    padding: 1%;
    width: 80%;
}


.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;

}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}


.btn {
    margin-top: auto;
}

.d-block{
    height: 400px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236b6b6a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236b6b6a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.card-title{
    font-family: 'Delivery';
    color:#278a8c;
    font-size: 40px;
    font-weight: 700;
}

.price{
    color:#5c5c5c;
    font-size: 19px;
    font-weight: 600;
}

.card-sub-title{
    font-family: 'codebold';
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 300;
}

.styled-btn{
    color: white;
    background-color: #278a8c;
    border-radius: 8px;
    margin: 5px 2px;
    padding: 10px 28px;
    text-decoration: none;
}
.styled-btn:hover{
    color: white;
    background-color: #1f6d6e;
    text-decoration: none;
    transition: 1s;
}

.quantity{
    width: 4rem;
    margin-left: 0.5rem;
    border: 1px solid #dadada;
    background-color: #ebebeb;
    border-radius: 2px;
    text-align: center;
    font-weight: 300;
    font-family: 'codebold';
}

.label{
    font-size: 18px;
    color:#278a8c;
}